<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <!-- <button mat-menu-item *ngIf="!(isLoggedIn | async)">登入</button>
    <button mat-menu-item *ngIf="(isLoggedIn | async)" (click)="logout()">登出</button>
    <button mat-menu-item>首頁</button> -->
  </mat-menu>
  <span class="span" layout-align="center center">{{title}}</span>
</mat-toolbar>
<router-outlet></router-outlet>
